.header{
    background-color: black;
    height: 6vh;
    width: 100%;
	left: 0; 
	top: 0;
	position: fixed;
    z-index: 100;
}

.footer{
    display: none;
}

.header-two{
    display: none;
}

@media screen and (max-width: 800px){
    .header-one{
        display: none;
    }
    
    .header-two{
        display: flex;
        /*
        position: fixed;
        z-index: 99;
        */
    }
    
    .navbar{
        justify-content: center !important;
    }
    
    .footer{
        display: flex;
        bottom: 0;
        right: 0;
        position: fixed;
        z-index: 99;
    }
}

.navbar{
    display: flex;
    justify-content:left;
    list-style: none;
}

.sites{
    display: flex;
    justify-content: right;
    list-style: none;
}

.link{
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 1vh;
    margin-right: 1vh;
}

.linklogo{
    width: 7vh;
}

.linklogo2{
    width: 5vh;
    margin-right: 1vh;
    margin-left: 1vh;
}

.sitelogo{
    width: 5vh;
    margin: 3px;
}