.header{
    background-color: black;
    height: 6vh;
}

.navbar{
    display: flex;
    justify-content:left;
    list-style: none;
}

.sites{
    display: flex;
    justify-content: right;
    list-style: none;
}

.link{
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 1vh;
    margin-right: 1vh;
}

.linklogo{
    width: 7vh;
}

.sitelogo{
    width: 5vh;
    margin: 3px;
}