.home{
    padding-top: 30vh;
    height: 100vh;
    display: flex;
    right: 0;
}

.home-logo{
    background-color: white;
    border-radius: 50%;
    width: 15vh;
    margin: 20px;
}

.home-txt{
    color: black;
}

.home-btn{
    font-size: x-large;
    padding: 5px;
    border-radius: 1rem;
    background-color: #d6030d;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px;
    /*
    float: right;
    margin-right: 5vh;
    */
}