.home{
    padding-top: 30vh;
    width: 100%;
    height: 91vh;
    display: flex;
    background-color: black;
}

.first-section{
    height: 60vh;
    right: 0;
}

.home-img{
    margin: -10vh;
    width: 50rem;
    @media screen and (max-width:1200px){
        display: none;
    }
}

.second-section{
    width: 100%;
    height: 50vh;
    /* background-color: white; */
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
}

.third-section{
    margin-top: -20vh;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-section{
    background-color: grey;
    height: 50vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-active{
    display: none;
}

@media screen and (max-width: 800px){    
    .big-active{
        display: none;
    }
    .small-active{
        display: flex;
    }

    .second-section{
        display: block;
        align-content: center;
    }
}

.home-logo{
    background-color: white;
    border-radius: 50%;
    width: 15vh;
    margin: 20px;
}

.home-txt{
    color: black;
}

.home-btn{
    font-size: x-large;
    padding: 5px;
    border-radius: 1rem;
    background-color: #d6030d;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px;
    /*
    float: right;
    margin-right: 5vh;
    */
}

.logo-small{
    display: flex;
}

.img-logo-small{
    width: 10vh;
    margin-right: 1vh;
}

.long-img{
    width: 100%;
    height: 55vh;
}

.img-txt-info{
    width: 100%;
    background-color: black;
    display: flex;
}

.small-img{
    width: 6vh;
    background-color: red;
    margin-right: 2vh;
    padding-right: 1vh;
    border-top-right-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;
}

.small-txt-box{
    width: 100%;
    display: flex;
    justify-content: center;
}

.small-txt{
    font-weight: lighter;
    color: white;
}

.img-small{
    width: 5vh;
}

.hs-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
}

.box-left{
    background-color: red;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.box-right{
    background-color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}

.link-txt{
    text-decoration: none;
}